.banner {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXRQgz85j_d10cduTWfz17IHbPRINlccp2wg&usqp=CAU) no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #fff;
}